[submodule "xamarin-forms-samples-by-xamarin"]
	path = xamarin-forms-samples-by-xamarin
	url = https://github.com/moljac/xamarin-forms-samples-by-xamarin.git
[submodule "xamarin-forms-samples-by-conceptdev"]
	path = xamarin-forms-samples-by-conceptdev
	url = https://github.com/moljac/xamarin-forms-samples-by-conceptdev.git
[submodule "submodulez/Xamarin.Mobile"]
	path = submodulez/Xamarin.Mobile
	url = https://github.com/moljac/Xamarin.Mobile.git
[submodule "submodulez/Xamarin-Forms-Labs"]
	path = submodulez/Xamarin-Forms-Labs
	url = https://github.com/moljac/Xamarin-Forms-Labs.git
[submodule "submodulez/Xamarin-Forms-Labs-Samples"]
	path = submodulez/Xamarin-Forms-Labs-Samples
	url = https://github.com/moljac/Xamarin-Forms-Labs-Samples.git
[submodule "submodulez/VervetaCRM"]
	path = submodulez/VervetaCRM
	url = https://github.com/moljac/VervetaCRM.git
[submodule "submodulez/kaxaml"]
	path = submodulez/kaxaml
	url = https://github.com/moljac/kaxaml.git
[submodule "submodulez/HolisticWare.Core.Data.Xml"]
	path = submodulez/HolisticWare.Core.Data.Xml
	url = https://github.com/moljac/HolisticWare.Core.Data.Xml.git
