[submodule "submodulez/Xamarin.Mobile"]
	path = submodulez/Xamarin.Mobile
	url = https://github.com/moljac/Xamarin.Mobile.git
[submodule "submodulez/HolisticWare.Core.Data.Xml"]
	path = submodulez/HolisticWare.Core.Data.Xml
	url = https://github.com/moljac/HolisticWare.Core.Data.Xml.git
[submodule "submodulez/conceptdev-xamarin-forms-samples"]
	path = submodulez/conceptdev-xamarin-forms-samples
	url = https://github.com/conceptdev/xamarin-forms-samples.git
[submodule "submodulez/xamarin-xamarin-forms-samples"]
	path = submodulez/xamarin-xamarin-forms-samples
	url = https://github.com/xamarin/xamarin-forms-samples.git
[submodule "submodulez/xamarin-forms-book-preview"]
	path = submodulez/xamarin-forms-book-preview
	url = https://github.com/xamarin/xamarin-forms-book-preview.git
[submodule "submodulez/VervetaCRM"]
	path = submodulez/VervetaCRM
	url = https://github.com/xamarin/VervetaCRM.git
[submodule "submodulez/Xamarin-Forms-Labs"]
	path = submodulez/Xamarin-Forms-Labs
	url = https://github.com/XLabs/Xamarin-Forms-Labs.git
[submodule "submodulez/Xamarin-Forms-Labs-Samples"]
	path = submodulez/Xamarin-Forms-Labs-Samples
	url = https://github.com/XLabs/Xamarin-Forms-Labs-Samples.git
[submodule "submodulez/jamesmontemagno-Hanselman.Forms"]
	path = submodulez/jamesmontemagno-Hanselman.Forms
	url = https://github.com/jamesmontemagno/Hanselman.Forms.git
[submodule "submodulez/jamesmontemagno-Xamarin.Plugins"]
	path = submodulez/jamesmontemagno-Xamarin.Plugins
	url = https://github.com/jamesmontemagno/Xamarin.Plugins.git
