<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OxyPlot.Core" version="2014.1.517" targetFramework="MonoAndroid44" />
  <package id="OxyPlot.XamarinAndroid" version="2014.1.517" targetFramework="MonoAndroid44" />
  <package id="OxyPlot.XamarinForms" version="2014.1.507-alpha" targetFramework="MonoAndroid44" />
</packages>