#----------------------------------------------
**/*.hidden.cs
**/*.hidden.md
**/*.hidden.sh
**/*.hidden.bat
**/*.hidden.cmd
**/*.secure*.cs
**/*.secure*.md
**/*.secure*.sh
**/*.secure*.bat
**/*.secure*.cmd
**/*.secret*.cs
**/*.secret*.md
**/*.secret*.sh
**/*.secret*.bat
**/*.secret*.cmd
**/*.sensitive.cs
**/*.sensitive.md
**/*.sensitive.sh
**/*.sensitive.bat
**/*.sensitive.cmd
**/*.private.cs
**/*.private.md
**/*.private.sh
**/*.private.bat
**/*.private.cmd
